.section-3 {
	height: auto;

	display: flex;
	flex-direction: column;
	gap: 3.125rem;

	align-items: center;
	margin-bottom: 10rem;

	.card {
		border-radius: 1.25rem;
		width: 100%;
		background-color: #f1fdff;

		display: flex;
		align-items: center;
		padding: 40px;

		.card__text {
			display: flex;
			flex-direction: column;
			gap: 20px;
			h1 {
				font-size: 4.25rem;
				font-weight: 300;
				text-transform: uppercase;
			}
			p {
				font-size: 20px;
			}
		}
		.image {
			width: 50%;
			img {
				height: 100%;
			}
		}
	}
	button {
		width: min-content;
		text-wrap: nowrap;
		border: none;
		font-size: 1.125rem;
		font-weight: 300;
		letter-spacing: 1px;
		text-transform: uppercase;
		border-radius: 1000px;
		padding: 1.3125rem 2.1875rem;
		background-color: var(--button-color);
		cursor: pointer;
	}
}
